.registrations_create,
.registrations_new,
.sessions_new {
  background-color: $gray-light;
}

.devise-links {
  margin-top: 15px;
  text-align: center;
}

.form-auth {
  margin: 0 auto;
  max-width: 330px;
  padding: 15px;

  .form-auth-heading {
    margin-bottom: 15px;
  }

  .form-control {
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    &:focus {
      z-index: 2;
    }
  }

  fieldset {
    margin-bottom: 10px;

    .checkbox {
      &:last-child {
        margin-bottom: 0;
      }
    }

    &.input-sandwich {
      input[type="email"],
      input[type="password"] {
        &:first-of-type {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          margin-bottom: -1px;
        }

        &:last-of-type {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          margin-bottom: 10px;
        }
      }
    }
  }
}

