.memberships_new {
  text-align: center;
}

.memberships_show {
  text-align: center;

  .subscriptions {
    margin: 0 auto;
    max-width: 330px;
  }
}

.well {
  &.purchased {
    background-color: $gray-medium;
  }
}
